#rec800711777 .t396__artboard {
  height: 630px;
  background-color: #faf9f6;
}

#rec800711777 .t396__filter {
  height: 630px;
}

#rec800711777 .t396__carrier {
  height: 630px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:1199px) {

  #rec800711777 .t396__artboard,
  #rec800711777 .t396__filter,
  #rec800711777 .t396__carrier {}

  #rec800711777 .t396__filter {}

  #rec800711777 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width:959px) {

  #rec800711777 .t396__artboard,
  #rec800711777 .t396__filter,
  #rec800711777 .t396__carrier {}

  #rec800711777 .t396__filter {}

  #rec800711777 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width:639px) {

  #rec800711777 .t396__artboard,
  #rec800711777 .t396__filter,
  #rec800711777 .t396__carrier {}

  #rec800711777 .t396__filter {}

  #rec800711777 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width:479px) {

  #rec800711777 .t396__artboard,
  #rec800711777 .t396__filter,
  #rec800711777 .t396__carrier {
    height: 2800px;
  }

  #rec800711777 .t396__artboard {
    background-color: #faf9f6;
  }

  #rec800711777 .t396__filter {}

  #rec800711777 .t396__carrier {
    background-attachment: scroll;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348099766"] {
  z-index: 2;
  top: 711px;
  left: calc(50% - 600px + -67px);
  width: 1996px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348099766"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348099766"] {
    top: 1592px;
    left: calc(50% - 160px + -75px);
    width: 498px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725341664835"] {
  z-index: 3;
  top: 1051px;
  left: calc(50% - 600px + -132px);
  width: 1996px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725341664835"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725341664835"] {
    top: -35px;
    left: calc(50% - 160px + -42px);
    width: 498px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725341753022"] {
  z-index: 4;
  top: 1802px;
  left: calc(50% - 600px + 184px);
  width: 343px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725341753022"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725341753022"] {
    top: 212px;
    left: calc(50% - 160px + 19px);
    width: 113px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342144976"] {
  z-index: 5;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342144976"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342144976"] {
    top: 0px;
    left: calc(50% - 160px + 0px);
    width: 138px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725341971759"] {
  z-index: 6;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725341971759"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725341971759"] {
    top: 403px;
    left: calc(50% - 160px + 150px);
    width: 23px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725341971759"] .tn-atom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342373056"] {
  color: #000000;
  text-align: center;
  z-index: 7;
  top: 1485px;
  left: calc(50% - 600px + 380px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342373056"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342373056"] {
    top: 76px;
    left: calc(50% - 160px + -118px);
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342373056"] .tn-atom {
    font-size: 67px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725341886194"] {
  z-index: 8;
  top: 1802px;
  left: calc(50% - 600px + 768px);
  width: 378px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725341886194"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {
  #rec800711777 .tn-elem[data-elem-id="1725341886194"] .tn-atom {
    opacity: 0.5;
  }
}

@media screen and (max-width:639px) {
  #rec800711777 .tn-elem[data-elem-id="1725341886194"] .tn-atom {
    opacity: 0.8;
  }
}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725341886194"] {
    top: 213px;
    left: calc(50% - 160px + 195px);
    width: 97px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725341886194"] .tn-atom {
    opacity: 1;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342428384"] {
  color: #000000;
  text-align: center;
  z-index: 9;
  top: 1620px;
  left: calc(50% - 600px + 382px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342428384"] .tn-atom {
  color: #000000;
  font-size: 36px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342428384"] {
    top: 152px;
    left: calc(50% - 160px + -118px);
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342428384"] {
    color: #695353;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342428384"] .tn-atom {
    color: #695353;
    font-size: 16px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342543539"] {
  color: #000000;
  text-align: center;
  z-index: 10;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342543539"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342543539"] {
    top: 368px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342543539"] .tn-atom {
    font-size: 35px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342650124"] {
  z-index: 11;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342650124"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342650124"] {
    top: 389px;
    left: calc(50% - 160px + 259px);
    width: 84px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342650124"] .tn-atom {
    opacity: 0.8;
    -webkit-transform: rotate(304deg);
    -moz-transform: rotate(304deg);
    transform: rotate(304deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342858912"] {
  z-index: 12;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342858912"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342858912"] {
    top: 213px;
    left: calc(50% - 160px + 149px);
    width: 23px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725342983930"] {
  color: #000000;
  text-align: center;
  z-index: 13;
  top: 1620px;
  left: calc(50% - 600px + 382px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725342983930"] .tn-atom {
  color: #000000;
  font-size: 12px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725342983930"] {
    top: 597px;
    left: calc(50% - 160px + 48px);
    width: 224px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342983930"] {
    color: #695353;
  }

  #rec800711777 .tn-elem[data-elem-id="1725342983930"] .tn-atom {
    color: #695353;
    font-size: 10px;
    line-height: 1.75;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343056646"] {
  color: #000000;
  text-align: center;
  z-index: 14;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343056646"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343056646"] {
    top: 496px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343056646"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343056646"] .tn-atom {
    color: #000000;
    font-size: 32px;
    line-height: 1.25;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343456603"] {
  z-index: 15;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343456603"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343456603"] {
    top: 703px;
    left: calc(50% - 160px + 150px);
    width: 23px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343456603"] .tn-atom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343463642"] {
  z-index: 16;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343463642"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343463642"] {
    top: 589px;
    left: calc(50% - 160px + -57px);
    width: 138px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343463642"] .tn-atom {
    opacity: 0.65;
    -webkit-transform: rotate(302deg);
    -moz-transform: rotate(302deg);
    transform: rotate(302deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343513220"] {
  color: #000000;
  text-align: center;
  z-index: 17;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343513220"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343513220"] {
    top: 808px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343513220"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343513220"] .tn-atom {
    color: #000000;
    font-size: 32px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343530305"] {
  color: #000000;
  text-align: center;
  z-index: 18;
  top: 1620px;
  left: calc(50% - 600px + 382px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343530305"] .tn-atom {
  color: #000000;
  font-size: 12px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343530305"] {
    top: 866px;
    left: calc(50% - 160px + 47px);
    width: 227px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343530305"] {
    color: #695353;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343530305"] .tn-atom {
    color: #695353;
    font-size: 12px;
    line-height: 1.75;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343887337"] {
  z-index: 19;
  top: 2643px;
  left: calc(50% - 600px + 651px);
  width: 200px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343887337"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343887337"] {
    top: 927px;
    left: calc(50% - 160px + 51px);
    width: 218px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725343949137"] {
  z-index: 20;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725343949137"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725343949137"] {
    top: 1034px;
    left: calc(50% - 160px + 269px);
    width: 84px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725343949137"] .tn-atom {
    opacity: 0.8;
    -webkit-transform: rotate(304deg);
    -moz-transform: rotate(304deg);
    transform: rotate(304deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344039306"] {
  z-index: 21;
  top: 1685px;
  left: calc(50% - 600px + 311px);
  width: 29px;
  height: auto;
}

#rec800711777 .tn-elem.t396__elem--anim-hidden[data-elem-id="1725344039306"] {
  opacity: 0;
}

#rec800711777 .tn-elem[data-elem-id="1725344039306"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344039306"] {
    top: 1029px;
    left: calc(50% - 160px + 198px);
    width: 48px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344066845"] {
  color: #000000;
  text-align: center;
  z-index: 22;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725344066845"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344066845"] {
    top: 1132px;
    left: calc(50% - 160px + -20px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344066845"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344066845"] .tn-atom {
    color: #000000;
    font-size: 32px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344126283"] {
  z-index: 23;
  top: 1390px;
  left: calc(50% - 600px + 80px);
  width: 560px;
  height: 170px;
}

#rec800711777 .tn-elem[data-elem-id="1725344126283"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344126283"] {
    top: 1194px;
    left: calc(50% - 160px + -120px);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344834149"] {
  z-index: 24;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725344834149"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344834149"] {
    top: 1292px;
    left: calc(50% - 160px + 139px);
    width: 42px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344859543"] {
  color: #000000;
  text-align: center;
  z-index: 25;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725344859543"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344859543"] {
    top: 1364px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344859543"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344859543"] .tn-atom {
    color: #000000;
    font-size: 32px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725344880668"] {
  color: #000000;
  text-align: center;
  z-index: 26;
  top: 1620px;
  left: calc(50% - 600px + 382px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725344880668"] .tn-atom {
  color: #000000;
  font-size: 11px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725344880668"] {
    top: 1426px;
    left: calc(50% - 160px + 26px);
    width: 268px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344880668"] {
    color: #695353;
  }

  #rec800711777 .tn-elem[data-elem-id="1725344880668"] .tn-atom {
    color: #695353;
    font-size: 12px;
    line-height: 1.75;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725345039206"] {
  z-index: 27;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725345039206"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725345039206"] {
    top: 1524px;
    left: calc(50% - 160px + 149px);
    width: 23px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725345039206"] .tn-atom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725345046848"] {
  color: #000000;
  text-align: center;
  z-index: 28;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725345046848"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725345046848"] {
    top: 1640px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725345046848"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725345046848"] .tn-atom {
    color: #000000;
    font-size: 32px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396216"] {
  z-index: 29;
  top: 1645px;
  left: calc(50% - 600px + 1436px);
  width: 85px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396216"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396216"] {
    top: 1722px;
    left: calc(50% - 160px + 141px);
    width: 38px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396211"] {
  color: #000000;
  z-index: 30;
  top: 1603px;
  left: calc(50% - 600px + -738px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396211"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396211"] {
    top: 1786px;
    left: calc(50% - 160px + 136px);
    width: 48px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396211"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396211"] .tn-atom {
    font-size: 13px;
    line-height: 1.3;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396204"] {
  color: #000000;
  z-index: 31;
  top: 1603px;
  left: calc(50% - 600px + -738px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396204"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396204"] {
    top: 1803px;
    left: calc(50% - 160px + 60px);
    width: 199px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396204"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396204"] .tn-atom {
    font-size: 10px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396199"] {
  color: #000000;
  z-index: 32;
  top: 1613px;
  left: calc(50% - 600px + -728px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396199"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396199"] {
    top: 1927px;
    left: calc(50% - 160px + 134px);
    width: 48px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396199"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396199"] .tn-atom {
    font-size: 13px;
    line-height: 1.3;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396194"] {
  color: #000000;
  z-index: 33;
  top: 1613px;
  left: calc(50% - 600px + -728px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396194"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396194"] {
    top: 1947px;
    left: calc(50% - 160px + 57px);
    width: 199px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396194"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396194"] .tn-atom {
    font-size: 10px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396185"] {
  z-index: 34;
  top: 1558px;
  left: calc(50% - 600px + 1530px);
  width: 85px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396185"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396185"] {
    top: 1867px;
    left: calc(50% - 160px + 133px);
    width: 54px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396173"] {
  z-index: 35;
  top: 1558px;
  left: calc(50% - 600px + 1530px);
  width: 85px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396173"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396173"] {
    top: 1995px;
    left: calc(50% - 160px + 130px);
    width: 60px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396155"] {
  color: #000000;
  z-index: 36;
  top: 1613px;
  left: calc(50% - 600px + -728px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396155"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396155"] {
    top: 2063px;
    left: calc(50% - 160px + 137px);
    width: 48px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396155"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396155"] .tn-atom {
    font-size: 13px;
    line-height: 1.3;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347396076"] {
  color: #000000;
  z-index: 37;
  top: 1613px;
  left: calc(50% - 600px + -728px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347396076"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347396076"] {
    top: 2083px;
    left: calc(50% - 160px + 60px);
    width: 199px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396076"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347396076"] .tn-atom {
    font-size: 10px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725347506608"] {
  z-index: 38;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725347506608"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725347506608"] {
    top: 1468px;
    left: calc(50% - 160px + -37px);
    width: 131px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725347506608"] .tn-atom {
    opacity: 1;
    -webkit-transform: rotate(167deg);
    -moz-transform: rotate(167deg);
    transform: rotate(167deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348004063"] {
  z-index: 39;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348004063"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348004063"] {
    top: 1760px;
    left: calc(50% - 160px + 211px);
    width: 131px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348004063"] .tn-atom {
    opacity: 0.65;
    -webkit-transform: rotate(275deg);
    -moz-transform: rotate(275deg);
    transform: rotate(275deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348032518"] {
  z-index: 40;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348032518"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348032518"] {
    top: 1983px;
    left: calc(50% - 160px + -41px);
    width: 131px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348032518"] .tn-atom {
    opacity: 1;
    -webkit-transform: rotate(341deg);
    -moz-transform: rotate(341deg);
    transform: rotate(341deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348191354"] {
  z-index: 41;
  top: 1712px;
  left: calc(50% - 600px + 601px);
  width: 100px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348191354"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348191354"] {
    top: 2083px;
    left: calc(50% - 160px + 149px);
    width: 23px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348191354"] .tn-atom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348215086"] {
  color: #000000;
  text-align: center;
  z-index: 42;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348215086"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348215086"] {
    top: 2194px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348215086"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348215086"] .tn-atom {
    color: #000000;
    font-size: 32px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725348606602"] {
  color: #000000;
  z-index: 43;
  top: 1613px;
  left: calc(50% - 600px + -728px);
  width: 560px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725348606602"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725348606602"] {
    top: 2259px;
    left: calc(50% - 160px + 30px);
    width: 260px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348606602"] {
    text-align: center;
  }

  #rec800711777 .tn-elem[data-elem-id="1725348606602"] .tn-atom {
    font-size: 12px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725349108585"] {
  color: #000000;
  text-align: center;
  z-index: 44;
  top: 2367px;
  left: calc(50% - 600px + 258px);
  width: 804px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725349108585"] .tn-atom {
  color: #000000;
  font-size: 100px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725349108585"] {
    top: 2609px;
    left: calc(50% - 160px + -23px);
    width: 366px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725349108585"] {
    color: #000000;
  }

  #rec800711777 .tn-elem[data-elem-id="1725349108585"] .tn-atom {
    color: #000000;
    font-size: 33px;
    line-height: 2;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725349489404"] {
  z-index: 45;
  top: 1512px;
  left: calc(50% - 600px + 930px);
  width: 100px;
  height: 100px;
}

#rec800711777 .tn-elem[data-elem-id="1725349489404"] .tn-atom {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725349489404"] {
    top: 1995px;
    left: calc(50% - 160px + 154px);
    width: 10px;
    height: 10px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725349144090"] {
  z-index: 46;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725349144090"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725349144090"] {
    top: 2554px;
    left: calc(50% - 160px + 250px);
    width: 131px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725349144090"] .tn-atom {
    opacity: 0.65;
    -webkit-transform: rotate(275deg);
    -moz-transform: rotate(275deg);
    transform: rotate(275deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725349489370"] {
  z-index: 47;
  top: 1412px;
  left: calc(50% - 600px + 886px);
  width: 100px;
  height: 100px;
}

#rec800711777 .tn-elem[data-elem-id="1725349489370"] .tn-atom {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725349489370"] {
    top: 1995px;
    left: calc(50% - 160px + 154px);
    width: 10px;
    height: 10px;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725349149107"] {
  z-index: 48;
  top: 1370px;
  left: calc(50% - 600px + 60px);
  width: 503px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725349149107"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725349149107"] {
    top: 2645px;
    left: calc(50% - 160px + -41px);
    width: 131px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725349149107"] .tn-atom {
    opacity: 1;
    -webkit-transform: rotate(341deg);
    -moz-transform: rotate(341deg);
    transform: rotate(341deg);
  }
}

#rec800711777 .tn-elem[data-elem-id="1725351053917"] {
  z-index: 49;
  top: 2292px;
  left: calc(50% - 600px + 725px);
  width: 596px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725351053917"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {
  #rec800711777 .tn-elem[data-elem-id="1725351053917"] {
    top: 4732px;
    left: calc(50% - 480px + 182px);
    height: auto;
  }
}

@media screen and (max-width:959px) {
  #rec800711777 .tn-elem[data-elem-id="1725351053917"] {
    top: 4717px;
    left: calc(50% - 320px + 39px);
    width: 560px;
    height: auto;
  }
}

@media screen and (max-width:639px) {
  #rec800711777 .tn-elem[data-elem-id="1725351053917"] {
    top: 3562px;
    left: calc(50% - 240px + 9px);
    width: 450px;
    height: auto;
  }
}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725351053917"] {
    top: 2336px;
    left: calc(50% - 160px + 0px);
    width: 320px;
    height: auto;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725354516818"] {
  z-index: 50;
  top: 1345px;
  left: calc(50% - 600px + 20px);
  width: 100px;
  height: 100px;
}

#rec800711777 .tn-elem[data-elem-id="1725354516818"] .tn-atom {
  border-radius: 3000px;
  background-color: #fff705;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725354516818"] {
    top: 1531px;
    left: calc(50% - 160px + 85px);
    width: 151px;
    height: 25px;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516818"] .tn-atom {
    background-color: #000000;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725354516811"] {
  color: #000000;
  text-align: center;
  z-index: 51;
  top: 1575px;
  left: calc(50% - 600px + 322px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725354516811"] .tn-atom {
  color: #000000;
  font-size: 36px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725354516811"] {
    top: 1533px;
    left: calc(50% - 160px + 99px);
    width: 123px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516811"] {
    color: #faf9f6;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516811"] .tn-atom {
    color: #faf9f6;
    font-size: 12px;
    line-height: 1.75;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725354516818"] {
  z-index: 50;
  top: 1345px;
  left: calc(50% - 600px + 20px);
  width: 100px;
  height: 100px;
}

#rec800711777 .tn-elem[data-elem-id="1725354516818"] .tn-atom {
  border-radius: 3000px;
  background-color: #fff705;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725354516818"] {
    top: 1531px;
    left: calc(50% - 160px + 85px);
    width: 151px;
    height: 25px;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516818"] .tn-atom {
    background-color: #000000;
  }
}

#rec800711777 .tn-elem[data-elem-id="1725354516811"] {
  color: #000000;
  text-align: center;
  z-index: 51;
  top: 1575px;
  left: calc(50% - 600px + 322px);
  width: 556px;
  height: auto;
}

#rec800711777 .tn-elem[data-elem-id="1725354516811"] .tn-atom {
  color: #000000;
  font-size: 36px;
  font-family: 'kazakh', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:959px) {}

@media screen and (max-width:639px) {}

@media screen and (max-width:479px) {
  #rec800711777 .tn-elem[data-elem-id="1725354516811"] {
    top: 1533px;
    left: calc(50% - 160px + 99px);
    width: 123px;
    height: auto;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516811"] {
    color: #faf9f6;
  }

  #rec800711777 .tn-elem[data-elem-id="1725354516811"] .tn-atom {
    color: #faf9f6;
    font-size: 12px;
    line-height: 1.75;
  }
}

#localeSelector {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/dsc.png") no-repeat top left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#localeSelector > button {
  font-family: 'kazakh', Arial, sans-serif;
  background: transparent;
  color: #000000;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 500;
  border: 1px solid #95714F;
  border-radius: 2em;
  padding: 0.75em 1.4em;
}

.dressCode {
  display: flex !important;
  flex-direction: column !important;;
  position: absolute;
}
.dressCode .tn-atom {
  font-family: 'kazakh', Arial, sans-serif;
  font-weight: 100;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  color: #000000;
  font-size: 32px;
  line-height: 50px;
  transform-origin: center center 0;
  text-align: center;
  margin-bottom: 1rem;
}
.dressCode__colors {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.dressCode__colors > div {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

.dressCode__earth {
  background: #95714F;
}
.dressCode__sand {
  background: #C7AF94;
}
.dressCode__almond {
  background: #EADED0;
}
.dressCode__moss {
  background: #8C916C;
}
.dressCode__sage {
  background: #ACB087;
}
#weddingForm {
  font-family: 'kazakh', Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #695353;
}
#formMessage {
  font-family: 'kazakh', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
#weddingForm > button {
  font-family: 'kazakh', Arial, sans-serif;
  background: #000000;
  color: white;
  border: 0;
  font-size: 12px;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 2em;
  padding: 0.75em 1.4em;
}
#guestName {
  box-sizing: border-box;
  width: 100%;
  font-family: 'kazakh', Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #695353;
  border: 1px solid #95714F;
  border-radius: 2em;
  padding: 0.75em 1.4em;
}
.weddingForm__radio {
  display: flex;
  align-items: center;
}
.weddingForm__radio > input {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  accent-color: #695353;
  cursor: pointer;
}
.weddingForm__radio > span {
  text-align: left;
  margin-left: 8px;
}